@model Vidly.ViewModels.CustomerIndexViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Customers</h2>
@if(!Model.Customers.Any())
{
        //se muestra que no hay clientes
        <h2>No hay clientes</h2>
}
else
{
    <table class=“table table-bordered table-hover”>
        <tr><th>Customer</th></tr>
        @foreach (var customer in Model.Customers)
        {
            <tr><td>@Html.ActionLink(@customer.Name, "Details", "Customers", @customer, null) </td></tr>
            //no se como hacer para que no muestre el nombre por el url, 
            //tal vez la solucion seria pasae los parametros del objeto por post
            //y si esa es la solucion, ¿como se hace?
        }
    </table>
}

